@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Merriweather|Oswald&display=swap');


/* font-family: 'Teko', sans-serif;
font-family: 'Mrs Sheppards', cursive;
font-family: 'Merriweather', serif; */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
}

nav {
    background: rgb(119, 235, 209);
    padding: 0 20px;
    max-width: 1800px;
    margin: 0 auto;
    top: 0;
}


nav a {
    font-family: abril-display, serif;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(36, 36, 36);
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 32px;
    height: 114px;
}

nav a img {
    display: inline-block;
    height: 90px;
}

nav a img.menu {
    padding: 26px 0;
    background: rgb(119, 235, 209);

}

.rightfloat {
    float: right;    
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1800px;
    margin: 0 auto;
}

header div {
    display: block;
    padding: 80px 20px;
    background: rgb(1, 52, 82);
}

header div.header_image {
    display: block;
    padding: 40px 20px;
    background: url("https://images.unsplash.com/photo-1517486808906-6ca8b3f04846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80");
    background-position: center;
    background-size: cover;
}

header div.header_image2 {
    display: block;
    padding: 40px 20px;
    background: url("https://images.unsplash.com/photo-1531493731235-b5c309dca387?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
    background-position: center;
    background-size: cover;
}

header h2 {
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    margin: 0 0 8px;
    max-width: 600px;
    text-align: right;
    float: right;
    font-size: 32px;
    text-transform: uppercase;
}

header h1 {
    font-family: abril-display, serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    margin: 0 0 8px;
    max-width: 600px;
    text-align: right;
    clear: both;
    float: right;
    font-size: 46px;
}

header p {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white;
    line-height: 1.8em;
    max-width: 600px;
    text-align: right;
    clear: both;
    float: right;
}

header a {
    display: inline-block;
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(1, 52, 82);
    text-decoration: none;
    margin: 10px 0 0;
    font-size: 28px;
    text-transform: uppercase;
    background: rgb(119, 235, 209);
    padding: 8px 16px;
    clear: both;
    float: right;
    border-radius: 4px;
}

section {
    display: block;
    max-width: 1800px;
    margin: 0 auto;
}

section div {
    display: block;
    padding: 80px 20px;
    background: url("https://images.unsplash.com/photo-1484712401471-05c7215830eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
}

section div.diversity {
    background: url("Diversity.png"), linear-gradient(to top, rgb(1, 52, 82), rgb(119, 235, 209));
    background-position: center;
    background-size: cover;
    background-attachment: scroll, fixed;
    padding: 160px 20px;
}

section h1 {
    font-family: abril-display, serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    background: rgb(1, 52, 82);
    margin: 0 0 8px;
    max-width: 632px;
    font-size: 46px;
    display: inline-block;
    padding: 16px;
    line-height: 1.25em;
}

section h2 {
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
    background: rgb(119, 235, 209);
    margin: 0 0 8px;
    max-width: 600px;
    font-size: 32px;
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
}

section p {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    background: rgb(119, 235, 209);
    margin: 0 0 8px;
    max-width: 520px;
    font-size: 24px;
    display: inline-block;
    padding: 8px;
}

section a {
    display: inline-block;
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(1, 52, 82);
    text-decoration: none;
    margin: 10px 0 0;
    font-size: 28px;
    text-transform: uppercase;
    background: rgb(119, 235, 209);
    padding: 8px 16px;
    border-radius: 4px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1800px;
    margin: 0 auto;
}

main div {
    display: block;
    padding: 80px 20px;
    background: rgb(119, 235, 209);
}

.weloveyou {
    background: url("https://images.unsplash.com/photo-1548536129-4b8e749ae0ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
}

main h1 {
    font-family: abril-display, serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(36, 36, 36);
    margin: 0 0 8px;
    font-size: 46px;
    line-height: 1.25em;
}

main h2 {
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(36, 36, 36);
    margin: 0 0 8px;
    font-size: 32px;
    text-transform: uppercase;
}

main p {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(36, 36, 36);
    margin: 0 0 8px;
    font-size: 24px;
}

main a {
    display: inline-block;
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(119, 235, 209);
    text-decoration: none;
    margin: 10px 0 0;
    font-size: 28px;
    text-transform: uppercase;
    background: rgb(1, 52, 82);
    padding: 8px 16px;
    border-radius: 4px;
}

main .invert h1 {
    color: white;
}

main .invert h2 {
    color: white;
}

main .invert p {
    color: white;
}

aside {
    margin: 0 auto;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside div {
    display: block;
    padding: 80px 20px;
    background: linear-gradient(white, rgb(1, 52, 82));
    position: relative;
}

aside div.teal {
    display: block;
    padding: 80px 20px;
    background: linear-gradient(white, rgb(119, 235, 209));
    position: relative;
}


aside div.student_success {
    background: linear-gradient(rgb(1, 52, 82, .85), rgb(119, 235, 209, .85)), url("https://images.unsplash.com/photo-1496469888073-80de7e952517?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    background-position: center;
    background-size: cover;
    background-attachment: fixed, scroll;
}

div.center {
    background: transparent;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

aside h1 {
    font-family: abril-display, serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    margin: 0 0 8px;
    font-size: 46px;
    line-height: 1.25em;
    max-width: 800px;
}

aside h2 {
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    margin: 0 0 8px;
    font-size: 32px;
    text-transform: uppercase;
}

aside p {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0 0 8px;
    font-size: 24px;
}

aside a {
    display: inline-block;
    font-family: interstate-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(119, 235, 209);
    text-decoration: none;
    margin: 10px 0 0;
    font-size: 28px;
    text-transform: uppercase;
    background: rgb(1, 52, 82);
    padding: 8px 16px;
    border-radius: 4px;
}

aside img {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.center_link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: transparent;
    font-size: 36px;
}

.center_link img {
    margin-bottom: 8px;
}

.center_link.dark {
    color: rgb(36, 36, 36);
}
